## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Condition
0,0,Asfi,MA,32.2994,-9.2372,54.84,69,98,21.30,light rain
1,1,Tuktoyaktuk,CA,69.4541,-133.0374,-5.80,77,1,11.50,clear sky
2,2,Tiksi,RU,71.6872,128.8694,-22.43,87,100,6.04,overcast clouds
3,3,Hasaki,JP,35.7333,140.8333,46.00,28,20,6.91,few clouds
4,4,Broken Hill,AU,-31.9500,141.4333,91.40,17,0,12.66,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Condition
5,5,Luderitz,NaN,-26.6481,15.1594,69.82,49,11,17.83,few clouds
8,8,Kapaa,US,22.0752,-159.3190,73.40,88,90,9.22,overcast clouds
10,10,Avarua,CK,-21.2078,-159.7750,78.80,73,4,6.91,clear sky
18,18,Atuona,PF,-9.8000,-139.0333,78.22,77,13,17.54,few clouds
24,24,New Norfolk,AU,-42.7826,147.0587,75.00,41,73,1.99,broken clouds
31,31,Jacareacanga,BR,-6.2222,-57.7528,71.58,95,53,1.34,broken clouds
33,33,Busselton,AU,-33.6500,115.3333,75.00,59,93,8.99,overcast clouds
35,35,Rikitea,PF,-23.1203,-134.9692,78.75,76,99,15.23,overcast clouds
37,37,Kasane,BW,-17.8167,25.1500,69.80,100,40,3.44,scattered clouds
49,49,Vega De Alatorre,MX,20.0333,-96.6333,67.93,81,72,14.29,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID              180
City                 180
Country              178
Lat                  180
Lng                  180
Max Temp             180
Humidity             180
Cloudiness           180
Wind Speed           180
Current Condition    180
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Condition
8,8,Kapaa,US,22.0752,-159.3190,73.40,88,90,9.22,overcast clouds
10,10,Avarua,CK,-21.2078,-159.7750,78.80,73,4,6.91,clear sky
18,18,Atuona,PF,-9.8000,-139.0333,78.22,77,13,17.54,few clouds
24,24,New Norfolk,AU,-42.7826,147.0587,75.00,41,73,1.99,broken clouds
31,31,Jacareacanga,BR,-6.2222,-57.7528,71.58,95,53,1.34,broken clouds
...,...,...,...,...,...,...,...,...,...,...
675,675,Sulangan,PH,11.1373,123.7228,78.93,87,100,30.51,overcast clouds
677,677,Pompeia,BR,-22.1086,-50.1717,70.12,95,62,5.59,broken clouds
678,678,Pital,CO,2.2665,-75.8044,67.28,80,92,2.44,light rain
680,680,Celestun,MX,20.8667,-90.4000,65.37,72,29,10.11,scattered clouds
687,687,Luau,AO,-10.7073,22.2247,65.98,93,21,5.01,few clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Condition", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Condition,Lat,Lng,Hotel Name
8,Kapaa,US,73.40,overcast clouds,22.0752,-159.3190,
10,Avarua,CK,78.80,clear sky,-21.2078,-159.7750,
18,Atuona,PF,78.22,few clouds,-9.8000,-139.0333,
24,New Norfolk,AU,75.00,broken clouds,-42.7826,147.0587,
31,Jacareacanga,BR,71.58,broken clouds,-6.2222,-57.7528,
33,Busselton,AU,75.00,overcast clouds,-33.6500,115.3333,
35,Rikitea,PF,78.75,overcast clouds,-23.1203,-134.9692,
37,Kasane,BW,69.80,scattered clouds,-17.8167,25.1500,
49,Vega De Alatorre,MX,67.93,broken clouds,20.0333,-96.6333,
54,Boda,CF,71.29,scattered clouds,4.3189,17.4695,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]   
    
    params["location"] = f"{lat},{lng}"
   
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
      
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError, NameError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np

hotel_df["Hotel Name"].replace("",np.nan, inplace=True)

clean_hotel_df = hotel_df.dropna()

clean_hotel_df.head(10)

,City,Country,Max Temp,Current Condition,Lat,Lng,Hotel Name
8,Kapaa,US,73.40,overcast clouds,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
10,Avarua,CK,78.80,clear sky,-21.2078,-159.7750,Paradise Inn
18,Atuona,PF,78.22,few clouds,-9.8000,-139.0333,Villa Enata
24,New Norfolk,AU,75.00,broken clouds,-42.7826,147.0587,The Shingles Riverside Cottages
31,Jacareacanga,BR,71.58,broken clouds,-6.2222,-57.7528,Casa do Ian😎
33,Busselton,AU,75.00,overcast clouds,-33.6500,115.3333,Observatory Guest House
35,Rikitea,PF,78.75,overcast clouds,-23.1203,-134.9692,Pension Maro'i
37,Kasane,BW,69.80,scattered clouds,-17.8167,25.1500,The Old House
49,Vega De Alatorre,MX,67.93,broken clouds,20.0333,-96.6333,El Polo Norte
56,Cape Town,ZA,70.00,few clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Condition} & {Max Temp} °F,</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))